@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 240, 229, 215, 1;
  --background-start-rgb: 240, 229, 215, 1;
  --background-end-rgb: 240, 229, 215, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 240, 229, 215, 1;
    --background-start-rgb: 240, 229, 215, 1;
    --background-end-rgb: 240, 229, 215, 1;
  }
}

::-webkit-scrollbar {
  background-color:#F1F1F1;
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4EB269;
  border-radius: 12px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

 